/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
	--bg-color: #000028;
	--text-color: #f1b2ce;
	--text-color-title: #db00ff;
	--text-color-title-decor: #000028;
	--accent-color: #ff0070;
	--main-font: IBM Plex mono;
}

/* .page.theme_dark {
	сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
 
	--bg-color: #000028;
	--text-color: #f1b2ce;
	--text-color-title: #db00ff;
	--text-color-title-decor: #000028;
	--accent-color: #ff0070;
} */