.page.theme_light {
	--bg-color: #fff1f7;
	--background-image: url(../images/cover-image-light.png);
	/* цвет текста в параграфе / преобладающего текста */
	--text-color: #353430;

	/* цвет большого заголовка */
	--text-color-title: #ffc2e6;

	/* цвет текста в декорированном заголовке */
	--text-color-title-decor: #353430;

	--section-title-color: #353430;

	--accent-color: #ff8dcb;
	--main-font: ibm plex mono;

	--button-color: #353430;
}

.page.theme_light .decorate-rec {
	display: none;
}

.page.theme_light .header__theme-menu-button:hover {
	outline: 1px solid rgb(50 49 45 / 0.4);
}

@media (prefers-color-scheme: light) {

	:root {
		--bg-color: #fff1f7;
		--text-color: #353430;
		--text-color-title: #ffc2e6;
		--text-color-title-decor: #353430;
		--accent-color: #ff8dcb;
		--main-font: ibm plex mono;

		--background-image: url(../images/cover-image-light.png);
		--button-active-color: #353430;
	}

	.decorate-rec {
		display: none;
	}

	.header__theme-menu-button:hover {
		outline: 1px solid rgb(50 49 45 / 0.4);
	}
}
