/* Стили для темной темы */
/* Перенести в dark.css */
:root {
	--bg-color: #000028;
	--text-color: #f1b2ce;
	--text-color-title: #db00ff;
	--text-color-title-decor: #000028;
	--accent-color: #ff0070;
	--main-font: IBM Plex mono;
}

.page {
	font-family: var(--main-font, sans-serif);
	color: var(--text-color, #f1b2ce);
	background-color: var(--bg-color, #000028);
	background-image: url(../images/cover-image-dark.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 18px;
	padding: 10px;
	font-weight: 400;
}

/* разобраться как они вычислили fz */
.title {
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	color: var(--text-color-title, #db00ff);
	font-weight: 700;
	/* font-size: 116px; */
	line-height: 83%;
	text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title-decor {
	font-weight: 700;
	color: var(--text-color-title-decor, #000028);
	background-color: var(--accent-color, #ff0070);
}

.title-decor_fw-400 {
	font-weight: 400;
}

.decorate-rec {
	display: contents;
}

.decorate-rec::after {
	content: 'REC';
	display: inline-block;
	position: absolute;
	top: 0;
	right: 30px;
	color: var(--accent-color, #ff0070);
}

.decorate-rec::before {
	content: '';
	position: absolute;
	top: 9px;
	right: 10px;
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-left: 10px;
	border-radius: 100%;
	background-color: var(--accent-color, #ff0070);
	box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.decorated-zone::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	/* justify-self: end; */
	width: 25px;
	height: 25px;
	border-top: 1px solid var(--accent-color, #ff0070);
	border-right: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 25px;
	height: 25px;
	/* margin-top: 10%; */
	border-bottom: 1px solid var(--accent-color, #ff0070);
	border-left: 1px solid var(--accent-color, #ff0070);
}

.header {
	height: 100vh;
	position: relative;
	display: grid;
	grid-template: min-content /1fr;
	grid-auto-rows: min-content;
}

.header__theme-menu {
	max-height: 100px;
	justify-self: end;
	margin-top: 17%;
}

.header__theme-menu-item:not(:last-of-type) {
	margin-bottom: 11.5px;
}

.header__theme-menu-button {
	vertical-align: middle;
	text-align: center;
	text-transform: lowercase;
	color: var(--accent-color, #ff0070);
	padding: 0px 13px;
	min-width: 70px;
	min-height: 26px;
}

.header__theme-menu-button_active {
	border: 1px solid #ff0070;
}

.header__title {
	margin-top: 19%;
}

/* при увеличении экрана сделать ширину 50% */
/* ??? сделать чтобы плавно блок имел фиксированную ширину ??? */
.header__subtitle {
	margin-top: 15%;
	line-height: 130%;
	justify-self: end;
}

/* ----- MAIN ----- */

.main {
	padding-top: 47px;
}

/* задать закомментированные значения в медиазапросах!!!!! */

/* у каждого блока секкции будет модификатор, который меняет его поведение (или исключительно медиазапрос????) */
.section {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 50px;
	/* grid-auto-flow: column; */
	/* grid-auto-columns: fit-content(70vi); */
}

.section__title {
	font-size: 18px;
	color: var(--accent-color, #ff0070);
	margin-bottom: 22px;
}

.section__list {
	display: flex;
	flex-direction: column;
	gap: 23px;
}

.article-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.section>p {
	margin-bottom: 20px;
}

.section__list_image-block {
	display: grid;
	grid-template-rows: 146px 355px 237px 355px 237px;
	gap: 10px;
}

.footer {
	position: relative;
	/* padding-top: 10px; */
	height: 99vh;
	display: grid;
	place-content: center;
}

.footer__title {
	text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}