/*написать инструкцию по шорткату backgroun */
.page {
	font: 400 1.125rem/1.29 var(--main-font, sans-serif);
	color: var(--text-color, #f1b2ce);
	background: url(../images/cover-image-dark.png) center/cover no-repeat;
	background-attachment: fixed;
	background-color: var(--bg-color, #000028);
	padding: 2.666vi
}

/* TITLE разобраться как они вычислили fz */
.title {
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	color: var(--text-color-title, #db00ff);
	font-weight: 700;
	line-height: 0.83;
	text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title-decor {
	font-weight: 700;
	color: var(--text-color-title-decor, #000028);
	background-color: var(--accent-color, #ff0070);
}

.title-decor_fw-400 {
	font-weight: 400;
}

/* Точка в левом верхнем углу */

.decorate-rec {
	display: contents;
}

.decorate-rec::after {
	content: 'REC';
	display: inline-block;
	position: absolute;
	top: 0;
	right: 30px;
	color: var(--accent-color, #ff0070);
}

.decorate-rec::before {
	content: '';
	position: absolute;
	top: 9px;
	right: 10px;
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-left: 10px;
	border-radius: 100%;
	background-color: var(--accent-color, #ff0070);
	box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.decorated-zone::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	border-top: 1px solid var(--accent-color, #ff0070);
	border-right: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border-bottom: 1px solid var(--accent-color, #ff0070);
	border-left: 1px solid var(--accent-color, #ff0070);
}

.link-decor {
	position: relative;
	text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.link-decor::after {
	content: '';
	position: absolute;
	inset-block-end: 0;
	inset-inline-start: 0;
	width: 100%;
	height: 2px;
	background-color: var(--text-color, #f1b2ce);
}

/* HEADERr */

.header {
	height: 100vh;
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.header__theme-menu {
	max-height: 100px;
	justify-self: end;
	margin-block-start: 17%;
}

.header__theme-menu-item:not(:last-of-type) {
	margin-block-end: 11px;
}

.header__theme-menu-button {
	vertical-align: middle;
	text-align: center;
	text-transform: lowercase;
	color: var(--accent-color, #ff0070);
	padding-inline: 13px;
	min-width: 70px;
	min-height: 26px;
}

.header__theme-menu-button_active {
	border: 1px solid #ff0070;
}

.header__title {
	/* margin-top: 19%; */
	padding-block-start: 4%;
}

/* при увеличении экрана сделать ширину 50% */
/* ??? сделать чтобы плавно блок имел фиксированную ширину ??? */
.header__subtitle {
	/* margin-top: 15%;
	line-height: 130%; */
	/* padding-block-start: 15%; */
	align-self: center;
	margin-block-end: 20px;
	max-height: 117px;
	/* justify-self: end; */
}

/* ----- MAIN ----- */

.main {
	/* padding-top: 47px; */
	padding-block-start: 47px;
}

/* задать закомментированные значения в медиазапросах!!!!! */

/* у каждого блока секкции будет модификатор, который меняет его поведение (или исключительно медиазапрос????) */
.section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	padding-block-end: 50px;
	/* grid-auto-flow: column; */
	/* grid-auto-columns: fit-content(70vi); */
}

.section__title {
	font-size: 1em;
	color: var(--accent-color, #ff0070);
	padding-block-end: 22px;
	/* margin-bottom: 22px; */
}

.section__list {
	display: flex;
	flex-direction: column;
	gap: 23px;
}

.article-title {
	font-size: 1em;
	/* margin-bottom: 10px; */
	margin-block-end: 10px;
}

.section__subtitle {
	/* margin-bottom: 20px; */
	margin-block-end: 20px;
}

.section_image-block {
	grid-template-columns: none;
}

.section__list_image-block {
	display: grid;
	/* grid-template-rows: 142px 355px 237px 355px 237px; */
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	grid-template-rows: repeat(auto, fit-content(1fr));
	gap: 10px;
}

.section__list_image-block .section__item_image-wrapper:first-of-type {
	max-height: 142px;
}

.section__list_image-block .section__item_image-wrapper:nth-of-type(2) {
	max-height: 355px;
}

.section__list_image-block .section__item_image-wrapper:nth-of-type(3) {
	max-height: 236px;
}

.section__list_image-block .section__item_image-wrapper:nth-of-type(4) {
	max-height: 356px;
}

.section__list_image-block .section__item_image-wrapper:last-of-type {
	max-height: 237px;
}

/* .section__item {
	padding-block-end: .6rem;
} */

.footer {
	position: relative;
	/* padding-top: 10px; */
	height: 99vh;
	display: grid;
	place-content: center;
}

.footer__title {
	text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

/* media */

@media (768px <=width) {
	.title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}

	.header {
		height: auto;
		padding-block-end: 9rem;
	}

	.header__theme-menu {
		padding-block-start: 6.2%;
	}

	.header__title {
		position: relative;
		padding-block-start: 22.4%;
		inset-inline-start: -20px;
	}

	.header__subtitle {
		width: min(50%, 100%);
		justify-self: end;
		margin-block-start: 9rem;
	}

	/* MAIN */

	.main {
		padding-block-start: 5rem;
	}

	.section:first-of-type {
		grid-template-columns: 30% 70%;
		padding-block-end: 81px;
	}

	.section:first-of-type .section__list {
		padding-inline-start: 2.35rem;
	}

	.section:nth-child(2) {
		grid-template-columns: 1fr;
		padding-block-end: 79px;
	}

	.section:nth-child(2) .section__title {
		max-width: 30%;
		padding-block-end: 20px;
	}

	.section:nth-child(3) {
		grid-template-columns: 32% 70%;
		padding-block-end: 81px;
	}

	.section__subtitle {
		margin-inline: 22px 13px;
		height: 1.5rem;
	}

	.section__list {
		gap: 23px 0;
	}

	.section:nth-child(3) .section__list {
		padding-inline: 22px 13px;
	}

	.section_image-block {
		padding-block-end: 82px;
	}

	.section_image-block .article-title {
		margin-block-end: 20px;
	}

	.section__list_image-block {
		max-height: 780px;
		justify-content: space-between;
		gap: 20px;
		/* gap: 0; */
		grid-template-rows: 192px 230px;
		grid-template-columns: repeat(auto-fill, 230px);
		/* grid-template-rows: repeat(auto-fill, min(11%, 100%)); */
	}

	.section__list_image-block .section__item_image-wrapper:first-of-type {
		grid-row: 1/ 5;
		grid-column: 1/6;
		min-height: 192px;
		max-width: 479px;
	}

	.section__list_image-block .section__item_image-wrapper:nth-of-type(2) {
		grid-row: 1/5;
		grid-column: 3/end;
		min-height: 441px;
		width: 229px;
		justify-self: end;
	}

	.section__list_image-block .section__item_image-wrapper:nth-of-type(3) {
		grid-row: 2/end;
		grid-column: 1/3;
		min-height: 568px;
		width: 229px;
	}

	.section__list_image-block .section__item_image-wrapper:nth-of-type(4) {
		grid-row: 2/3;
		grid-column: 2/3;
		min-height: 230px;
	}

	.section__list_image-block .section__item_image-wrapper:last-of-type {
		grid-row: 3/4;
		grid-column: 2/end;
		min-height: 318px;
	}

	.footer {
		min-height: 983px;
	}
}

@media (1024px <=width) {
	.page {
		padding: 2vi;
	}

	.header {}

	.header__theme-menu {
		margin: 0;
		padding: 0;
		justify-self: center;
	}

	.header__theme-menu-list {
		display: flex;
	}

	.header__theme-menu-item:not(:last-of-type) {
		margin-block-end: 0;
	}

	.header__title {
		padding: 0;
	}

	.header__subtitle {
		margin: 0;
	}

}